*{
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
}
body{
        
        font-family: "Poppins", sans-serif;
      
}

/* navbar styles */
header{
    max-width: 1140px;
    margin: 0 auto;
}
.nav-res{
    display: none;
}
.navbar-responsive{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.navbar-responsive h2{
    font-size: 1rem;
    font-weight: 600px;
    color:#3A3A3A;
}
.brand-name{
    font-size: 1.5rem;
    font-weight: 600px;
    color:#3A3A3A;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-items{
    display: flex;
    gap: 20px;
}
.nav-items li{
    list-style: none;
}
.nav-items li a{
    font-size: 1rem;
    font-weight: 400;
    color: #3A3A3A;
    text-decoration: none;
}
/* banner section design */
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
    background-image: url(images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-position: right;
    
}
.banner-content{
    max-width: 60%;
    
}
.banner-title-name{
    font-size: 3.25rem;
    font-weight: 600;
    color:#3A3A3A ;
}
.banner-description{
    font-size: 1rem;
    font-weight: 400px;
    color: #3A3A3A;
}
.primary-btn{
    font-size: 1rem;
    font-weight: 600;
    color: white;
    padding: 10px 24px;
    border-radius: 40px;
    background-color: #E02C6D;
    border: none;
}
.banner-image img{
    width: 100%;
    

}
/* main section started */
main{
    max-width: 1140px;
    margin: 0 auto;
}
.company-names{
    margin: 100px 0;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    align-items: center;
    justify-content: center;
    /* justify-items: center; */
}
.company-names a img{
    max-width: 100%;
}
/* small device with responsive design */

@media screen and (max-width:576px) {
    .nav-res{
        display: block;

    }
    .navbar{
        display: none;
    }
    .banner{
        flex-direction: column-reverse;
        background-position: top;
        background-size: 100%;
    }
    .banner-content{
    max-width: 100%;
    
}
    .banner-title-name{
        font-size: 1.8rem;
        
    }
    .banner-description{
        font-size: 14px;
        font-weight: 500;
    }
    .company-names{
        grid-template-columns: repeat(4,1fr);
        gap: 20px;
        justify-items: center;
    }
}
/* medium device with responsive design */
@media screen and (min-width:576px) and (max-width:992px) {
    .banner-content{
    max-width: 45%;
}
.banner-title-name{
        font-size: 1.8rem;
        
    }
}