*{
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
}
body{
        
        font-family: "Poppins", sans-serif;
      
}


section{
    margin-top: 100px;
}
/* navbar styles */
header{
    max-width: 1140px;
    margin: 0 auto;
}
.nav-res{
    display: none;
}
.navbar-responsive{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.navbar-responsive h2{
    font-size: 1rem;
    font-weight: 600px;
    color:#3A3A3A;
}
.brand-name{
    font-size: 1.5rem;
    font-weight: 600px;
    color:#3A3A3A;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-items{
    display: flex;
    gap: 20px;
}
.nav-items li{
    list-style: none;
}
.nav-items li a{
    font-size: 1rem;
    font-weight: 400;
    color: #3A3A3A;
    text-decoration: none;
}
/* banner section design */
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
    background-image: url(images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-position: right;
    
}
.banner-content{
    max-width: 60%;
    
}
.banner-title-name{
    font-size: 3.25rem;
    font-weight: 600;
    color:#3A3A3A ;
}
.banner-description{
    font-size: 1rem;
    font-weight: 400px;
    color: #3A3A3A;
}
.primary-btn{
    font-size: 1rem;
    font-weight: 600;
    color: white;
    padding: 10px 24px;
    border-radius: 40px;
    background-color: #E02C6D;
    border: none;
}
.banner-image img{
    width: 100%;
    

}
/* main section started */
main{
    max-width: 1140px;
    margin: 0 auto;
}
.company-names{
   
    display: grid;
    grid-template-columns: repeat(7,1fr);
    align-items: center;
    justify-content: center;
    /* justify-items: center; */
}
.company-names a img{
    max-width: 100%;
}
.popular-title-name{
    font-size: 1.8rem;
    font-weight: 400;
    color: #3A3A3A;
    text-align: center;
    margin-bottom: 30px;
}

.card{
    max-width: 325px;
    border-radius: 5px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    background: rgba(255, 255, 255, 1);
    padding: 15px;
}
.cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    justify-items: center;
}
.card img{
    width: 100%;
}
.card-name{
    font-size: 1.8rem;
    font-weight: 500;
    margin: 8px 0;
}
.card-price{
    font-size: 1.5rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.87);
    margin: 0;
}
.card h5{
    margin: 8px 0;
}
.star-icon i{
    color: orange;
    
}
.card-description{
    font-size: 14px;
    font-weight: 600;
    color: gray;
}
/* featured design styles*/

.featured{
    display: flex;
    gap: 96px;
    align-items: center;
}
.featured-title-name{
    font-size: 2.3rem;
    font-weight: 600;
    color:rgba(10, 8, 38, 1) ;
    margin: 0;
}
.featured-description{
    font-size: 1rem;
    font-weight: 600;
    color:rgba(108, 108, 108, 1);
}
.secondary-btn{
    border-radius: 0;
}
.featured-image{
    width: 100%;
}

/* small device with responsive design */

@media screen and (max-width:576px) {
    .nav-res{
        display: block;

    }
    .navbar{
        display: none;
    }
    .banner{
        flex-direction: column-reverse;
        background-position: top;
        background-size: 100%;
    }
    .banner-content{
    max-width: 100%;
    
}
    .banner-title-name{
        font-size: 1.8rem;
        
    }
    .banner-description{
        font-size: 14px;
        font-weight: 500;
    }
    .company-names{
        grid-template-columns: repeat(4,1fr);
        gap: 20px;
        justify-items: center;
    }
    .cards{
        grid-template-columns: repeat(1,1fr);
    }
    .featured{
        flex-direction: column-reverse;
        text-align: center;
    }
}
/* medium device with responsive design */
@media screen and (min-width:576px) and (max-width:992px) {
    .banner-content{
    max-width: 45%;
}
.banner-title-name{
        font-size: 1.8rem;
        
    }
}